.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: light;
}

ul {
    list-style: none;
    font-size: 100%;
}

ul li {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    font-size: 150%;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: left;
    transition-duration: 0.2s;
    padding: none;
    margin: 10px;
}


ul li ul.dropdown li {
    display: block;
    font-size: 80%;
    transition-duration: 0.2s;
    padding: none;
    margin: 0;
}

/*css that allows the dropdown menu to be undisplayed when not hovered over */
ul li ul.dropdown {
    width: 140%;
    background: rgb(228, 218, 216);
    position: absolute;
    z-index: 999;
    display: none;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    transition-duration: 0.3s, linear;
    padding: none;
    margin: 0;
}

ul li a:hover {
    background-color: rgb(191, 178, 164);
    transition-duration: 0.2s;
    padding: none;
    margin: 10px;
}

/*css for the block of the dropdown itself */
ul li:hover ul.dropdown {
    display: block;
    transition-duration: 0.3s, linear;
    padding: none;
    margin: 0;
    width: 200%;
}


body {
    color: black;
    font-family: "Dongle", sans-serif;
    font-size: 120%;
    margin: auto;
    overflow-x: hidden;
    background-color: #f3e7e7;
}

.container {
    display: grid;
    grid-template-areas:
    "bodyone bodytwo"
    "bodyone bodytwo";
    grid-template-columns: auto auto;
}

div.banner h1 {
    font-size: 170%;
    margin-top: 6%;
    margin-right: 5%;
}


div.body {
    color: rgb(86, 55, 46);
    background-color: #f3e7e7;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

div.footer {
  font-family: "Dongle", sans-serif;
  color: black;
  grid-area: footer;
  background-color: #966c5a;
  display: grid;
  grid-template-columns: auto auto;
  padding: 80px;
  border-top: solid;
  border-color: #966c5a;
  padding-top: 10%;
}

p, h1{
    margin: 5%;
    font-size: 200%;
}

div.footerword a:hover {
    margin-left: 10px;
}

h4 {
    margin: 0;
    padding: 0;
}

div.footerword {
    float: left;
    font-size: 300%;
}

div.banner {
    padding-top: 10px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    background-color: #fff8f4;
    color: #71463c;
    padding: 5px;
    justify-content: space-evenly;
    font-size: 200%;
    background-color: #f3e7e7;
}

summary:hover {
    cursor: pointer;
    color: rgb(255, 189, 189);
    background-color: #7b3328;
    border-radius: 20px;
    border: 5px;
    transition-duration: 0.5s;
} 

summary {
    transition-duration: 0.5s;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container2 {
    display: grid;
    grid-template-areas:
    "img chunk1"
    "chunk2 img2";
    grid-template-columns: auto auto;
}

a {
    color: #374444;
    transition-duration: 0.5s;
}

a:hover {
  color: rgb(76, 50, 50);
  transition-duration: 0.4s;
  background-color: #d49a90;
  border-radius: 20px;
  cursor: pointer;
}
div.banner {
    background-color: white;
}


div.navbar {
 display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0;
    margin-top: 10px;
    font-size: 200%;
}

.container > div.bodyone {
    background-color: rgb(203, 188, 188);
    border-radius: 50px;
    grid-area: bodyone;
    margin: 5%;
}

.container > div.bodytwo {
    background-color: rgb(188, 165, 165);
    border-radius: 50px;
    grid-area: bodytwo;
    margin: 5%;
    margin-bottom: 5%;
}

#img1 {
    width: 90%;
    border-radius: 30px;
    margin-left: 5%;
    float: center;
    text-align: center;
    margin-top: 10%;
}

div.resourcesbody {
    width: 90%;
    background-color: rgb(203, 188, 188);
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}


div.bigbody {
    background-color:  rgb(203, 188, 188);
    padding-top:5px;
    padding-bottom:5px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
}


#resourcesdraw {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    float: center;
    border-radius: 30px;
}

* {
    box-sizing: border-box;
} *::before, *::after {
    box-sizing: border-box;
}

div.qabody {
    margin: 0;
    padding: 0;
    font-family: "Dongle", sans-serif;
    background: rgb(203, 188, 188);
    color: black;
    display: flex;
    min-height: 100vh;
}

.qacontainer {
  grid-area: accordion;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #edc29c;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #5d433c;
  font-size: 1.15rem;
  font-weight: 700;
  font-family: "Dongle", sans-serif;
  background: none;
  border-radius: 50px;
  outline: none;
  border: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #c37d55;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #c37d55;
  border: 1px solid #554338;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion-title {
    font-size: 200%;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #c37d55;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 400;
  font-size: 150%;
  margin: 2em 0;
}
#faqtitle {
    width: 95%;
    border-radius: 30px;
}

#froggylogo {
    width: 10%;
    height: 20%;
    margin-right: 0;
    border-radius: 150px;
    margin-top: 5%;
}

.overallcontainer {
    display: flex;
    flex-direction: column;
}

div.qafooter {
  grid-area: qafooter;   
  font-family: "Dongle", sans-serif;
  color: black;
  background-color: #966c5a;
  justify-content: flex-end;
  border-top: solid;
  border-color: #966c5a;
  padding: 2rem;
  width: 40%;
  text-align: center;
}

#askimg {
    width: 35%;
    position: absolute;
    border-radius: 30px;
    right: 2.5%;
    padding: 0;
}

div.footerwordqa h1 {
    width: 90%;
    text-decoration: underline;
}

div.footerwordqa {
    position: absolute;
    top: 70%;
}

div.footerwordqa a:hover {
    transition-duration: 2ms linear;
    margin-left: 10px;

}

div.footerwordqa h3 {
    font-size: 130%;
}

#construction {
    width: 60%;
    margin-left: 5%;
    border-radius: 150px;
    padding-top: 5%;
    float: left;
    text-align: left;
}

div.gobackbutton {
    background-color: white;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 150%;
    border-radius: 150px;
    text-align: center;
    float: left;
    position: relative;
    bottom: 50%;
}

div.gobackbutton a:hover {
  color: rgb(76, 50, 50);
  transition-duration: 0.4s;
  background-color: #d49a90;
  border-radius: 150px;
  width: 20%;
}

div.buttonflex a:hover {
    border-radius: 150px;
    background-color: none;
    width: 100%;
    transition-duration: 0.1s, linear;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.buttonflex a {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.buttonflex {
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "b1 b2 b3";
    gap: 1%;
}

#button1 {
    width:100%;
    border-radius: 150px;
    grid-area: b1;
}

#button2 {
    width: 100%;
     border-radius: 150px;
     grid-area: b2;
}

#button3 {
    width:100%;
    border-radius: 150px;
    grid-area: b3;
    
}