
/*Imported font, from google fonts. These are the different weight values. 
Font-weight: 400; means the boldness is normal, 700, bold, 300, light.*/
.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
}

/*Unordered list css, and adjustments. */
ul {
    list-style: none;
    font-size: 100%;
}
/*From here on, it was the section to make a dropdown page.  */
ul li {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    font-size: 150%;
}

/* The navigation bar links */
ul li a {
    display: block;
    text-decoration: none;
    text-align: left;
    transition-duration: 0.2s;
    padding: 5px;
    margin: 10px;
}

/*css that adjusts what is inside the dropdown */
ul li ul.dropdown li {
    display: block;
    font-size: 80%;
    transition-duration: 0.2s;
    padding: 5px;
    margin: 0;
}

/*css that allows the dropdown menu to be undisplayed when not hovered over */
ul li ul.dropdown {
    width: 140%;
    background: rgb(228, 218, 216);
    position: absolute;
    z-index: 999;
    display: none;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    transition-duration: 0.3s;
    padding: 5px;
    margin: 0;
}

/*The hover features, such as changing colour or highlighting. transition duration helps
the smooth transition between sharp edges to curved highlighted edges. */
ul li a:hover {
    background-color: rgb(191, 178, 164);
    transition-duration: 0.2s;
    padding: 5px;
    margin: 10px;
}

/*css for the block of the dropdown itself */
ul li:hover ul.dropdown {
    display: block;
    transition-duration: 0.3s;
    padding: 5px;
    margin: 0;
    width: 200%;
}

/*Overall body, changes most of the fonts and sets the background colour
for all the pages. */
body {
    color: black;
    font-family: "Dongle", sans-serif;
    font-size: 120%;
    margin: auto;
    overflow-x: hidden;
    background-color: #f3e7e7;
}

/*Container only used in page 1-home, for the split bodies. */
.container {
    display: grid;
    grid-template-areas:
    "bodyone bodytwo"
    "bodyone bodytwo";
    grid-template-columns: auto auto;
}

/*Specific font size and margin values for the 'guitarfroggy' in the navbar. */
div.banner h1 {
    font-size: 190%;
    margin-top: 6%;
    margin-right: 5%;
}

/*Bigbody signifying not two separate bodies. This is essentially just a body replacement. */
div.bigbody h1 {
    margin-bottom: 0;
    padding: 0;
}

/*css for The footer for the website. */
div.footer {
  font-family: "Dongle", sans-serif;
  color: black;
  grid-area: footer;
  background-color: #966c5a;
  display: grid;
  grid-template-columns: auto auto;
  padding: 80px;
  border-top: solid;
  border-color: #966c5a;
  padding-top: 2%;
}

/*overall p and h1 margin and size */
p, h1{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 200%;
}

/*The link in the footer, for the email when hovered so that it slides a little to the right.
The transition duration is set on another a:hover css. */
div.footerword a:hover {
    margin-left: 10px;
}

/*sets no margins or paddings for h4 so proximity is correct */
h4 {
    margin: 0;
    padding: 0;
}

/*The words in the footer. aligned to the left. */
div.footerword {
    float: left;
    font-size: 250%;
}

/*The banner, which is the navigation bar. It is used as a flexbox and spaced evenly. */
div.banner {
    padding-top: 10px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    background-color: #fff8f4;
    color: #583730;
    padding: 5px;
    justify-content: space-evenly;
    font-size: 200%;
    background-color: #f3e7e7;
}

/*colour of all links */
a {
    color: #374444;
    transition-duration: 0.5s;
}

/*overall hover. this is where the footerword gets the sliding transition duration. */
a:hover {
  color: #281a1a;
  transition-duration: 0.4s;
  background-color: #d49a90;
  border-radius: 20px;
  cursor: pointer;
}

/*most left body in home page. is in a grid */
.container > div.bodyone {
    background-color: rgb(203, 188, 188);
    border-radius: 50px;
    grid-area: bodyone;
    margin: 5%;
}
/*most right body in home page, is in a grid */
.container > div.bodytwo {
    background-color: rgb(188, 165, 165);
    border-radius: 50px;
    grid-area: bodytwo;
    margin: 5%;
    margin-bottom: 5%;
}

/*img design jigging */
#img1 {
    width: 90%;
    border-radius: 30px;
    margin-left: 5%;
    text-align: center;
    margin-top: 10%;
}

/*css designs for body */
div.bigbody {
    background-color:  rgb(201, 186, 186);
    padding-top:5px;
    padding-bottom:5px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
}

/*Another specific css changing choice from the normal bigbody css */
div.chordbigbody {
    background-color:  rgb(203, 188, 188);
    padding-top:5px;
    padding-bottom:5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
}

/*img of resources banner at the top of resources page. */
#resourcesdraw {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}

/*accordion/collapsible css. Learnt it from a tutorial (linked in dev log) */
* {
    box-sizing: border-box;
} *::before, *::after {
    box-sizing: border-box;
}
/*overall body of the accordion */
div.qabody {
    margin: 0;
    padding: 0;
    font-family: "Dongle", sans-serif;
    background: rgb(203, 188, 188);
    color: black;
    display: flex;
    min-height: 100vh;
}

/*container for the accordion, sets a grid area */
.qacontainer {
  grid-area: accordion;
  margin: 0 auto;
  padding: 2rem;
  width: 60%;
}


.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

/* aria-expanded=true is when the question is pressed. */
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #edc29c;
}
/*The big block of button (which is the question) */
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #5d433c;
  font-size: 1.15rem;
  font-weight: 700;
  font-family: "Dongle", sans-serif;
  background: none;
  border-radius: 50px;
  outline: none;
  border: none;
}
/*Colour and cursor change when hovering over the question */
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #c37d55;
}
/*after hovering over it, the colour remains the same showing which
question you were previously over. */
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #c37d55;
  border: 1px solid #554338;
}
/*More adjustments to padding of the button*/
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
/*The actual question */
.accordion-title {
    font-size: 200%;
}

/*The button on the right*/
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

/*The design when it is a plus sign */
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
/*The design when clicked, and it is a minus sign */
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

/*The changing of colour of the button on the right when it expands */
.accordion button[aria-expanded=true] {
  color: #c37d55;
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

/* the adjustments of the actual content space inside, and the transition durations. */
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 35em;
  transition: all 200ms;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms, max-height 200ms;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 400;
  font-size: 150%;
  margin: 2em 0;
}

/*more image presets, usually border radius to make the image curved. */
#faqtitle {
    width: 95%;
    border-radius: 30px;
}

#froggylogo {
    width: 10%;
    height: 20%;
    margin-right: 0;
    border-radius: 150px;
    margin-top: 5%;
}
#askimg {
    width: 35%;
    position: absolute;
    border-radius: 30px;
    right: 2.5%;
    padding: 0;
}

/*Specific footer css for qa, because the footer doesnt exist at the bottom int eh FAQ page
but on the right. */
div.qafooter {
  grid-area: qafooter;   
  font-family: "Dongle", sans-serif;
  color: black;
  background-color: #966c5a;
  justify-content: flex-end;
  border-top: solid;
  border-color: #966c5a;
  padding: 2rem;
  width: 40%;
  text-align: center;
}

/* footer words on the FAQ page, and specific adjustments for it such as the links,
transition duration, and hover.*/
div.footerwordqa h1 {
    width: 90%;
    text-decoration: underline;
}

div.footerwordqa {
    position: absolute;
    top: 75%;
}

div.footerwordqa a {
    transition-duration: 0.2s;
}

div.footerwordqa a:hover {
    transition-duration: 0.2s;
    margin-left: 10px;

}

div.footerwordqa h3 {
    font-size: 130%;
}

#construction {
    width: 60%;
    margin-left: 5%;
    border-radius: 150px;
    padding-top: 5%;
    float: left;
    text-align: left;
}

/*css for the go back button once you click socials*/
div.gobackbutton {
    background-color: white;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 150%;
    border-radius: 150px;
    text-align: center;
    float: left;
    position: relative;
    bottom: 50%;
}

div.gobackbutton a:hover {
  color: rgb(76, 50, 50);
  transition-duration: 0.4s;
  background-color: #d49a90;
  border-radius: 150px;
  width: 20%;
}

/*buttonflex, the flexbox for the two buttons in the resources page. */
div.buttonflex a:hover {
    border-radius: 150px;
    width: 100%;
    transition-duration: 0.2s;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.3s;
}

div.buttonflex a {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.3s;
}

div.buttonflex {
    padding-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "b1 b2";
    gap: 1%;
}

/*button image css design adjustments */
#button1 {
    width: 100%;
     border-radius: 150px;
     grid-area: b1;
}

#button2 {
    width:100%;
    border-radius: 150px;
    grid-area: b2;
    
}

/*more img adjustments */
#dynamicimg {
    border-radius: 150px;
    width: 90%;
}

#articimg {
    border-radius: 150px;
    width: 90%;
}

#chordtitleimg {
    border-radius: 150px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#chordchart {
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 150px;
}

/*button for when going back from the file or backing track page to resources, the root of the two again. */
div.backtoresources {
    background-color: #FFFFFF;
    border-radius: 150px;
    font-size: 150%;
    padding: 2%;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    width: 30%;

}

#tabeg {
    width: 90%;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

#guitarlabel {
    width: 95%;
    margin: 2.5%;
    border-radius: 50px;
}